<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <br><br>
    <div class="row center brown-mine-text">
      <h1>TaeMarket</h1>
      <h5>Vendi e Acquista Contenuti Digitali</h5>
    </div>
    <div class="row center">
      <%= link_to "Vai ai Contenuti", contents_path, class: "btn brown-mine gray-mine-text btn-large" %>
    </div>
    <br><br>
  </div>
  <div class="parallax"></div>
</div>