@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

h4 {
  font-size: 1.2em;
}

main {
  flex: 1 0 auto;
}

.home-subtitle {
  margin: 5% 0;
}

.btn-devise {
  width: 100%;
}

.show-img {
  padding-right: 5%;
}

.show-titolo {
  margin-top: 0;
  font-size: 3.4em;
}

.show-prezzo {
  font-size: 2em;
}

.btn-form {
  width: 100%;
}

.btn {
  background-color: #573C41;
}

.btn:hover {
  background-color: #D3BEC5;
}

.card-image {
  height: 150px;
}

.pagination a li.active { 
  color: #fff; 
}

.pagination a li {
  padding: 0 10px;
}

.parallax {
	text-align: center;
	padding: 482px 0 30px 0;
	background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.0)),
						asset-data-url("background-7.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.brown-mine {
  background: #573C41 !important;
}

.gray-mine-text{
    color: #D3BEC5 !important;
}

.brown-mine-text{
    color: #573C41 !important;
}

.fa-social {
  padding: 0 5%;
}

.dropdown-content {
  min-width: 130px;
  text-align: center;
}

.content-show {
  margin-top: 5%;
}

a {
  color: #D3BEC5;
}

a:hover {
  color: #573C41;
}


@media (max-width: 600px){
  .fa-floppy-o {
    padding-top: 10px;
  }
}