<div class="row">
  <div class="col l6 offset-l3">
    <h4 class="center">
      Grazie per aver acquistato!
    </h4>
    <p class="center">
      Scarica il tuo contenuto<br><br>
      <%= link_to 'Download', @content.allegato.url, target: "_blank", class: "waves-effect waves-light btn" %>
    </p>
  </div>
</div>


